<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        
        <form [formGroup]="fgValidator">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                  
                 </div>
                <input formControlName="code" name="code" class="form-control" placeholder="Code" type="text">
               <div class="warning-validator" *ngIf="fgv.code.errors && (fgv.code.dirty || fgv.code.touched)">
                    <strong *ngIf="fgv.code.errors.required">
                        This field is required.
                    </strong>
                    <strong *ngIf="fgv.code.errors.minlength">
                        This field must be at least 5 characters long.
                    </strong>
               </div> 
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                   
                 </div>
                <input formControlName="name" name="name" class="form-control" placeholder="Name" type="text">
                <div class="warning-validator" *ngIf="fgv.name.errors && (fgv.name.dirty || fgv.name.touched)">
                    <strong *ngIf="fgv.name.errors.required">
                        This field is required.
                    </strong>
                    <strong *ngIf="fgv.name.errors.minlength">
                        This field must be at least 5 characters long.
                    </strong>
               </div>
            </div> <!-- form-group// -->
         <!-- form-group// -->                                      
        <div class="form-group">
            <button type="button" (click)="saveNewRecord()" class="btn btn-primary"> Submit</button>
            &nbsp;&nbsp;
            <a class="btn btn-primary" role="button" routerLink="/parameters/faculty">Cancel</a>                                                                
        </div> <!-- form-group// -->      
    </form>
    </article>
    </div> <!-- card.// -->
    