<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://www.flaticon.com/svg/vstatic/svg/130/130924.svg?token=exp=1614746044~hmac=e6445674e1456c40c35ad883b7359bf8"
                id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form [formGroup]="fgValidator">
            <input formControlName="currentPassword" type="password" id="currentPassword" class="fadeIn second" name="currentPassword"
                placeholder="Current Password">
            <div class="warning-validator" *ngIf="fgv.currentPassword.errors && (fgv.currentPassword.dirty || fgv.currentPassword.touched)">
                <strong *ngIf="fgv.currentPassword.errors.required">
                    This field is required.
                </strong>
            </div>
            <input formControlName="newPassword" type="password" id="newPassword" class="fadeIn second" name="newPassword"
                placeholder="New Password">
            <div class="warning-validator" *ngIf="fgv.newPassword.errors && (fgv.newPassword.dirty || fgv.newPassword.touched)">
                <strong *ngIf="fgv.newPassword.errors.required">
                    This field is required.
                </strong>
            </div>
            <input formControlName="newPassword2" type="password" id="newPassword2" class="fadeIn second" name="newPassword2"
                placeholder="Repeat New password">
            <div class="warning-validator" *ngIf="fgv.newPassword2.errors && (fgv.newPassword2.dirty || fgv.newPassword2.touched)">
                <strong *ngIf="fgv.newPassword2.errors.required">
                    This field is required.
                </strong>
            </div>
            
            <input type="button" (click)="ChangePassword()" class="fadeIn fourth" value="Reset Password">
        </form>

        <!-- Remind Passowrd -->

    </div>
</div>