<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        src="https://www.flaticon.com/svg/vstatic/svg/130/130924.svg?token=exp=1614746044~hmac=e6445674e1456c40c35ad883b7359bf8"
        id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="fgValidator">
      <input formControlName="username" type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <div class="warning-validator" *ngIf="fgv.username.errors && (fgv.username.dirty || fgv.username.touched)">
        <strong *ngIf="fgv.username.errors.required">
          This field is required.
        </strong>
        <strong *ngIf="fgv.username.errors.minlength">
          This field must be at least {{document_min_length}} characters long.
        </strong>
      </div>
      <input formControlName="password" type="password" id="password" class="fadeIn third" name="login"
        placeholder="password">
      <div class="warning-validator" *ngIf="fgv.password.errors && (fgv.password.dirty || fgv.password.touched)">
        <strong *ngIf="fgv.password.errors.required">
          This field is required.
        </strong>
      </div>
      <input type="button" (click)="LoginUser()" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/security/reset-password">Forgot Password?</a>
    </div>

  </div>
</div>